<%= form_with(model: calendar_event, class: "m-8") do |form| %>
  <% if calendar_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar_event.errors.count, "error") %> prohibited this calendar_event from being saved:</h2>

      <ul>
        <% calendar_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
    <%= form.label :occurs_at %>
    <%= form.date_field :occurs_at, class: "form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
  </div>
  
  <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
    <%= form.label :color %>
    <%= form.select :color, options_for_select(["yellow", "red", "green", "indigo"]), {}, class: "form-select block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
  </div>

  <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
  </div>
<% end %>
